div {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  font-size: 90%;
  height: 100px;
  width: 1000px;
  position: fixed;
  top: 25%;
  left: 38%;
  margin-top: -50px;
  margin-left: -300px;
}
