<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
  </head>
  <body>
    <div class="container" style="padding-top: 50px">
      <div class="row">
        <section class="main col-md-9">
          <article>
            <img
              src="assets/image.png"
              height="200px"
              width="1000px"
              alt="Sorry, Unable to upload! :("
            />
            <p></p>
            <p></p>
            <h2 style="color: rgb(51, 25, 144)">About</h2>
            <p>
              My name is Khushboo Jayesh Davey. I am currently pursuing a
              two-year IT course at Seneca College of Applied Arts and
              Technology with a focus on programming languages.
            </p>
            <p>
              During my school education, I had a strong inclination towards
              science, especially biology hence carried on with the respective
              stream. After schooling, during summer, I had two months to enjoy
              my vacation, but I spent my time researching further studies.
              During this period, I was captivated by computers. My inquisitive
              mind wanted to discover as much as it could result in shifting my
              career. I got myself enrolled in Bachelor's in Computer
              Applications.
            </p>
            <p>
              Investing three years into software learning, my passion for
              learning programming languages grew that brought me to the School
              of Software Design and Data Science at Seneca College of Applied
              Arts and Technology, where I am working on my diploma studies in
              Computer programming. Programming is fun; if I can think of it, I
              can make it a reality! My ultimate career objective is to make
              commendable contributions to the field of computing - solving
              complicated problems, and creating something new, surely making a
              difference in people's life.
            </p>
            <p>
              Pure Escapism - In my leisure time, I spend time in the
              countryside looking at indescribable nature. The awareness that it
              is so great, that the emotions I feel and when I try to behold it
              are too deep and mystical to convey! &hearts;
            </p>
          </article>
        </section>
      </div>
    </div>
  </body>
</html>
